<nav class="fixed-top">
    <ul class="nav justify-content-end">
        <li class="nav-item">
            <a class="nav-link active" href="#">Landing</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">About our hackathon</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Our Sponsors</a>
        </li>
        <li class="nav-item">
            <img src="/images/uwin-logo.png" alt="W" class="uwin-logo">
        </li>
    </ul>
</nav>

<style>
    .uwin-logo {
        max-width: 3vw;
    }
    .nav {
        margin-top: 1vh;
        margin-right: 1vw;
    }
    .nav-link {
        color: grey;
    }
    .nav-link:hover {
        color: rgb(80, 80, 80);
    }
    .nav-link.active {
        color:black;
    }
</style>