<html>
	<%- include('partials/head') %>

	<body>
		<%- include('partials/nav') %>
		<section class="landing" style="height: 100%">
			<section class="top-sky">
				<img src="/images/cloud1.png" class="cloud1">
				<img src="/images/cloud2.png" class="cloud2">			
				<img src="/images/cloud3.png" class="cloud3">	
			</section>
			<img src="/images/bridge-sky.png" class="bridge">

			<section id="bottom-river">
				<h1 class="title">
					<span class="txt-rotate" data-period="800" data-rotate='[ "Visit ", "Explore ", "Love ", "Hack " ]' data1='[ "Lobster", "Poor Story", "Courgette", "Source Code Pro" ]' data2='[ "rgba(255, 100, 17)", "rgb(238, 17, 219)", "red", "#F8F8FF" ]'></span>Windsor
				</h1>
				<form action="" method="post" class="my-form">
					<div class="form-group">
						<label for="email">Enter your email to be notified when applications begin!</label>
						<input type="email" class="form-control" id="email-input" placeholder="Email Address">
					</div>
					<button class="btn btn-primary right-align" type="submit">Submit</button>
				</form>
				<a href="#about"><img src="/images/down.png" class="down"></a>
			</section>
		</section>
	</body>
	
</html>

<style>
	body {
		overflow: hidden;
		background-color: rgba(28,188,236,0.3);
		background: -moz-linear-gradient(to bottom, rgba(255,196,0,0.3) 0%, rgba(255,196,0,0.5) 25%, rgba(28,188,236,0.2) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(135deg, rgba(255,196,0,0.3) 0%,rgba(255,196,0,0.5) 25%,rgba(28,188,236,0.2) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(135deg, rgba(255,196,0,0.5) 0%,rgba(255,196,0,0.5) 25%,rgba(28,188,236,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc400', endColorstr='#1cbcec',GradientType=0 ); /* IE6-9 */
	}
	h1 {
		font-family: 'Source Code Pro', sans-serif;
		font-size: 70px;
	}
	.about {
		height: 100%;
	}

	.right-align {
		text-align: right;
	}
	.title {
		position: absolute;
		left: 50%;
		bottom: 3%;
	}
	.my-form {
		position: absolute;
		right: 3%;
		top: 60%;
		width: 20%;
	}
	.down {	
		position: absolute;
		max-height: 10vh;
		right: 3%;
		bottom: 3%;
		-webkit-animation: down-arrow 1s infinite; /* Safari 4+ */
  		-moz-animation:    down-arrow 1s infinite; /* Fx 5+ */
  		-o-animation:      down-arrow 1s infinite; /* Opera 12+ */
		animation:         down-arrow 1s infinite; /* IE 10+, Fx 29+ */
	}
	.down:hover {
		-webkit-animation: down-arrow-hover 1s; /* Safari 4+ */
  		-moz-animation:    down-arrow-hover 1s; /* Fx 5+ */
  		-o-animation:      down-arrow-hover 1s; /* Opera 12+ */
		animation:         down-arrow-hover 1s; /* IE 10+, Fx 29+ */
	}
	.bridge {
		max-width: 100%;
		min-width: 1200px;
	}
	.skyline {
		width: 100%;
		position: absolute;
		top: 0px;
		z-index: -2;
	}
	.cloud1 {
		max-width: 20vw;
		position: absolute;
		-webkit-animation: move-cloud1 120s infinite; /* Safari 4+ */
  		-moz-animation:    move-cloud1 120s infinite; /* Fx 5+ */
  		-o-animation:      move-cloud1 120s infinite; /* Opera 12+ */
		animation:         move-cloud1 120s infinite; /* IE 10+, Fx 29+ */
		animation-timing-function: linear; /* or: ease, ease-in, ease-in-out, linear, cubic-bezier(x1, y1, x2, y2) */
		z-index: -1;		
	}
	.cloud2 {
		max-width: 17vw;
		position: absolute;
		-webkit-animation: move-cloud2 40s infinite; /* Safari 4+ */
  		-moz-animation:    move-cloud2 40s infinite; /* Fx 5+ */
  		-o-animation:      move-cloud2 40s infinite; /* Opera 12+ */
		animation:         move-cloud2 40s infinite; /* IE 10+, Fx 29+ */
		animation-timing-function: linear; /* or: ease, ease-in, ease-in-out, linear, cubic-bezier(x1, y1, x2, y2) */
		z-index: -1;		
	}
	.cloud3 {
		max-width: 17vw;
		position: absolute;
		-webkit-animation: move-cloud3 70s infinite; /* Safari 4+ */
  		-moz-animation:    move-cloud3 70s infinite; /* Fx 5+ */
  		-o-animation:      move-cloud3 70s infinite; /* Opera 12+ */
		animation:         move-cloud3 70s infinite; /* IE 10+, Fx 29+ */
		animation-timing-function: linear; /* or: ease, ease-in, ease-in-out, linear, cubic-bezier(x1, y1, x2, y2) */		
	}

	/* Safari 4.0 - 8.0 */
	@-webkit-keyframes move-cloud1 {
		0% {left: 0%; top: 5%; opacity: 0}
		5% {left: 5%; top: 6.5%; opacity: 0.5}		
		10% {left: 10%; top: 8%; opacity: 1}	
		20% {left: 20%; top: 5%; opacity: 1}
		30% {left: 30%; top: 8%; opacity: 1}
		40% {left: 40%; top: 5%; opacity: 1}
		50% {left: 50%; top: 8%; opacity: 1}
		60% {left: 60%; top: 5%; opacity: 0.5}
		70% {left: 70%; top: 8%; opacity: 0}
		80% {left: 80%; top: 5%; opacity: 0}
		90% {left: 80%; top: 8%; opacity: 0}
		100% {left: 80%; top: 5%; opacity: 0}
	}
	@-webkit-keyframes move-cloud2 {
		0% {left: 0%; top: 13%; opacity: 0}
		5% {left: 5%; top: 15%; opacity: 0.5}		
		10% {left: 10%; top: 18%; opacity: 1}	
		20% {left: 20%; top: 15%; opacity: 1}
		30% {left: 30%; top: 13%; opacity: 1}
		40% {left: 40%; top: 18%; opacity: 1}
		50% {left: 50%; top: 15%; opacity: 1}
		60% {left: 60%; top: 13%; opacity: 0.5}
		70% {left: 70%; top: 18%; opacity: 0}
		80% {left: 80%; top: 15%; opacity: 0}
		90% {left: 80%; top: 13%; opacity: 0}
		100% {left: 80%; top: 18%; opacity: 0}
	}
	@-webkit-keyframes move-cloud3 {
		0% {left: 0%; top: 15%; opacity: 0}
		5% {left: 5%; top: 15.5%; opacity: 0.5}		
		10% {left: 10%; top: 16%; opacity: 1}	
		20% {left: 20%; top: 15%; opacity: 1}
		30% {left: 30%; top: 14%; opacity: 1}
		40% {left: 40%; top: 15%; opacity: 1}
		50% {left: 50%; top: 16%; opacity: 1}
		60% {left: 60%; top: 15%; opacity: 0.5}
		70% {left: 70%; top: 14%; opacity: 0}
		80% {left: 80%; top: 15%; opacity: 0}
		90% {left: 80%; top: 16%; opacity: 0}
		100% {left: 80%; top: 15%; opacity: 0}
	}
	@-webkit-keyframes down-arrow {
		0% {bottom: 3%}
		50% {bottom: 4%}
		100% {bottom: 3%}
	}
	@-webkit-keyframes down-arrow-hover {
		from {
			transform: rotate(0deg);
		}
		to {
			transform: rotate(360deg);
		}
	}

</style>